@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: white;
  color: black;
  font-family: Verdana;

  margin: 0;
  padding: 1.5em 2em;
}

body p,
h1,
h2,
ul {
  margin: 0;
}


/* --- */

.main-div {
  display: flex;
  column-gap: 1em;
}

/* --- */

.left-div {
  flex-basis: 30%;
}

.nav-menu {
  padding: 0.6em 0.8em 1em 0.8em;
  border: 1px solid black;
}

.nav-menu ul {
  padding-left: 1.5em;
}

.nav-menu li {
  list-style: square outside;
}

/* --- middle --- */

.middle-div {
  height: 20px;

  display: flex;
  flex-direction: column;

  row-gap: 0.5em;
}

.middle-header {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}

.middle-text {
  font-size: large;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 1.5em 1em;
  text-wrap: stable;
}

/* --- right --- */

.right-div {
  flex-basis: 25%;
}

.right-img {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid black;
}

/* --- fonts --- */

.koho-extralight {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.koho-light {
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.koho-regular {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.koho-medium {
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.koho-semibold {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.koho-bold {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.koho-extralight-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.koho-light-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.koho-regular-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.koho-medium-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.koho-semibold-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.koho-bold-italic {
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  font-style: italic;
}