<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>neolight1010's website</title>
  <link href="{{ get_url(path="style.css", cachebust=true) }}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <div class="main-div koho-regular">
    <div class="left-div">
      <div class="nav-menu">
        <h2>Menu</h2>

        <ul>
          <li><a href="{{ get_url(path="/") }}">home</a></li>
          <li><a href="{{ get_url(path='@/blog/_index.md') }}">blog</a></li>
          <li><a href="#">about me</a></li>
        </ul>
      </div>
    </div>

    <div class="middle-div">
      <div class="middle-header koho-bold">
        <h1>{% block header %}{% endblock header %}</h1>
      </div>

      <div class="middle-text">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <div class="right-div">
      <div class="right-img">
        <img src="{{ get_url(path="maddie-square.jpg") }}" />
        <p>maddie wishes you a great day!</p>
      </div>
    </div>
  </div>


  <!-- TODO Add me: <img src="/neocities.png"> -->
</body>

</html>
