<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>neolight1010's website</title>
  <link href="/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <div class="main-div koho-regular">
    <div class="left-div">
      <div class="nav-menu">
        <h2>Menu</h2>

        <ul>
          <li><a href="/">home</a></li>
          <li><a href="{{ get_url(path='@/blog/_index.md') }}">blog</a></li>
          <li><a href="#">about me</a></li>
        </ul>
      </div>
    </div>

    <div class="middle-div">
      <h1 class="middle-header koho-bold">{% block header %}{% endblock header %}</h1>

      <div class="middle-text">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

    <div class="right-div">
      <img class="right-img" src="/maddie-square.jpg" />
    </div>
  </div>


  <!-- TODO Add me: <img src="/neocities.png"> -->
</body>

</html>